{% extends "layout.html" %}
{% block content %}
    <h1>About</h1>
    <p>This website uses <a href="https://en.wikipedia.org/wiki/K-nearest_neighbors_algorithm">K-nearest neighbor regression</a> to estimate the wait time at WesWings
    based on crowdsourced training data.</p>
    <p>This website was implemented as a part of:  <a href="http://weshack.org">weshack</a> </p>
    <p>Many thanks to the following tutorial for the introduction to Flask/css/html templates : <a href="https://www.youtube.com/watch?v=MwZwr5Tvyxo&list=PL-osiE80TeTs4UjLw5MM6OjgkjFeUxCYH&index=1&ab_channel=CoreySchafer">as a playlist</a></p>
{% endblock content %}